/* ==========================================================================
  -- Classes -- 
  ========================================================================== */

.clearfix {
  zoom: 1;
  &:before, 
  &:after { 
    content: ""; 
    display: table; 
  }
  &:after { 
    clear: both; 
  }
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
  }
}

.text-left { 
  text-align: left; 
}

.text-center { 
  text-align: center; 
}

.text-right { 
  text-align: right; 
}

.padding {
  padding: $padding 0;
}

.padding-top {
  padding-top: $padding;
}

.padding-bottom {
  padding-bottom: $padding;
}

.margin {
  margin: $margin 0;
}

.margin-top {
  margin-top: $margin;
}

.margin-bottom {
  margin-bottom: $margin;
}

.hide {
  display: none;
  visibility: hidden;
}