/* ==========================================================================
  -- Mixins & Variable -- 
  ========================================================================== */

$font-color: #252525;
$link-color: #666;
$link-hover: darken($link-color, 15%);

$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$headline-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

$padding: 20px;
$margin: 50px;

/**** **** **** **** ****
TRANSITION -
USAGE: @include transition(all 0.2s ease-in-out);
**** **** **** **** ****/
@mixin transition($transition...) {
  $prefixes:      ("-webkit", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }
  transition: $transition;
}

/**** **** **** **** ****
GRADIENT -
USAGE: @include css-gradient(#dfdfdf, #f8f8f8);
**** **** **** **** ****/

@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
  background-color: $to;
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(to bottom, $from, $to);
}

/**** **** **** **** ****
BREAKPOINTS -
USAGE: @include breakpoint(small) {}
**** **** **** **** ****/
@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 767px)  { @content; }
  }
  @else if $point == medium {
    @media (min-width: 768px) and (max-width: 979px) { @content; }
  }
  @else if $point == large {
    @media (min-width: 1200px) { @content; }
  }
}